body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('assets/bg.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    size: fixed;
}

#trip-form {
    background-color: pink;
    padding: 20px;
    margin-bottom: -2rem;
    border-radius: 8px;
}

a {
    font-size: 20px; 
    font-weight: bold;
}

h1 {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0;
}

form {
    position:top;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

form label, form input {
    display: block;
    margin-bottom: 10px;
}

form button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

ul{
    list-style: none;
    padding: 0;
    color: blue;
    font-size: 1.5rem;
}

li {
    padding: 5px 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
button:hover {
    background-color: #45a049;
}
.bottom-link {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f8f9fa;
    padding-top: 5000px 0;
}

/* Add this to your existing CSS */
.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
}

.station {
    box-sizing: border-box;
    padding: 2px;
    border: 1px dashed black;
    border-radius: 25%;
    font-size: 1.5rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    color: rgb(144, 10, 10);
    flex: 0 0 auto; /* Add this property to make the div size based on content */
    background-color: white;
    opacity: 0.5;
}
