<!DOCTYPE html>
<html>
<head>
    <title>Metro Trip Planner</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Metro Trip Planner</h1>
    <div class="bg">
        <form id="trip-form">
            <label for="start-station">Start Station:</label>
            <input type="text" id="start-station" name="start" required>
            <br>
            <label for="end-station">End Station:</label>
            <input type="text" id="end-station" name="end" required>
            <br>
            <button type="submit">Plan Trip</button>
        </form>
    </div>
</body>
<script src="app.js"></script>
</html>
